﻿@using Movies.ASP.Models
@model CategoryModel

@{
    ViewBag.Title = "Create";
}

<h2>Formulaire de création d'une categorie</h2>
<form action="#" method="post">

    <label>Nom de la catégorie</label>
    <input class="form-control" type="text" name="Name" value="@Model.Name" />
    <p class="text-danger">@Html.ValidationMessage("Name")</p>

    <label>Description de la catégorie</label>
    <textarea class="form-control" name="Description">@Model.Description</textarea>
    <p class="text-danger">@Html.ValidationMessage("Description")</p>

    <button class="btn btn-info">Creer</button>
</form>

