﻿@using Movies.ASP.Models
@model CategoryModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>@Model.Name</p>
<p>@Model.Description</p>
@foreach (MovieModel item in Model.Movies)
{
    <p>@item.Title</p>
}
