﻿@using Movies.ASP.Models
@model IEnumerable<CategoryModel>

@{ 
    ViewBag.Title = "Toutes les catégories";
}
<h2>Index</h2>

<a class="btn btn-info" href="/Category/Create">Ajouter une categorie</a>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @foreach (CategoryModel item in Model)
    {
        <tr>
            <td><a href="/Category/Details/@item.Id">@item.Name</a></td>
            <td>@item.Description</td>
            <td>
                <a class="glyphicon glyphicon-trash text-danger delete-btn" href="/Category/Delete/@item.Id"></a>
            </td>  
        </tr>
    }
</table>

@section scripts {
    <script>
        let items = document.getElementsByClassName("delete-btn");
        for (let item of items) {
            item.addEventListener("click", e => {
                //console.log(e.target);
                let response = confirm("Etes vous sur de vouloir supprimer ...");
                if (!response) {
                    e.preventDefault();
                } 
            });
        }
    </script>
}

