﻿@using Movies.ASP.Models
@model MovieModel
@{
    ViewBag.Title = "Create";
}

    <form action="#" method="post">
        <label>Titre</label>
        <input class="form-control" type="text" name="Title" value="@Model.Title" />
        <p class="text-danger">@Html.ValidationMessage("Title")</p>

        <label>Synopsis</label>
        <textarea class="form-control" type="text" name="Synopsis">@Model.Synopsis</textarea>
        <p class="text-danger">@Html.ValidationMessage("Synopsis")</p>

        <label>ReleaseYear</label>
        <input class="form-control" type="number" name="Release" value="@Model.ReleaseYear" />
        <p class="text-danger">@Html.ValidationMessage("ReleaseYear")</p>

        <label>Category Id</label>
        <input list="categories" class="form-control" type="text" name="CategoryName" value="@Model.CategoryId" />
        @*<select name="CategoryId">
            <option value=""> - </option>
            @foreach(CategoryModel c in Model.AllCategories)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>*@
        <datalist id="categories">
            @foreach (CategoryModel c in Model.AllCategories)
            {
                <option>@c.Name</option>
            }
        </datalist>
        <p class="text-danger">@Html.ValidationMessage("CategoryId")</p>

        <button class="btn btn-danger">Sauvegarder</button>
    </form>

