﻿@model Movies.ASP.Models.MovieModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>Titre: @Model.Title</p>
<p>Synopsis: @Model.Synopsis</p>
<p>Année de sortie: @Model.ReleaseYear</p>
<p>Categorie: @Model.CategoryName</p>

<p>Casting</p>
<table class="table">
    <tr>
        <th>Nom du personnage</th>
        <th>Nom</th>
        <th>Prenom</th>
    </tr>
    @foreach (var item in Model.Casting)
    {
        <tr>
            <td>@item.CharacterName</td>
            <td>@item.ActorLastName</td>   
            <td>@item.ActorFirstName</td>
        </tr>
    }
</table>

