﻿@using Movies.ASP.Models
@model IEnumerable<MovieModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="/Movie/Create">Nouveau</a>
<table class="table">
    <tr>
        <th>Titre</th>
        <th>Synopsis</th>
        <th>Actions</th>
    </tr>
    @foreach (MovieModel item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Synopsis</td>
            <td>
                <a href="/Movie/Details/@item.Id">Details</a>
                <a href="/Movie/Delete/@item.Id">Supprimer</a>
                <a href="/Movie/Update/@item.Id">Mettre à jour</a>
            </td>
        </tr>
    }
</table>

